/* NavigationMenuClosed.css */

.nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 5vh;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--gray-25, #f7f8fa);
  background: var(--white, #fff);
  /* Shadow/lg */
  box-shadow: 0px 4px 6px -2px rgba(18, 19, 31, 0.03),
    0px 12px 16px -4px rgba(18, 19, 31, 0.08);
}

.nav-open {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-icon img {
  width: 20px; /* Adjust to your icon's dimensions */
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-text {
  color: var(--blue-700, #175cd3);
  /* Text sm/Semibold */
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
