.buttonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px rgba(18, 19, 31, 0.05);
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    width: 123px;
    height: 44px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

} 

.add {
    border: none;
    background-color: #1570EF;
    color: #fff;
  }
  
  .delete {
    border: 1px solid #B42318;
    background-color: #ffffff;
    color: #B42318;
  }